﻿<head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/elements/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">

    <meta property="fb:app_id" content="1981611578625971" />
    <meta property="og:url" content="@ViewBag.OGUrl">
    <meta property="og:title" content="@ViewBag.OGTitle" >
    <meta property="og:description" content="@ViewBag.OGDescription" >
    <meta property="og:image" content="@ViewBag.OGImage" >
    <!-- Site Title -->
    <title>TLE Café</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="~/user/css/linearicons.css">
    <link rel="stylesheet" href="~/user/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/all.css">
    <link rel="stylesheet" href="~/user/css/nice-select.css">
    <link rel="stylesheet" href="~/user/css/magnific-popup.css">
    <link rel="stylesheet" href="~/user/css/bootstrap.css">
    <link rel="stylesheet" href="~/user/css/main.css">
    <link rel="stylesheet" href="~/user/css/custom.css">
    <link rel="stylesheet" href="~/user/css/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <meta name="google-site-verification" content="p3OG7p81tL3_qim3Vz9wuPwLYtyt7R9wl9rRbcGN7qE" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/user/js/vendor/jquery-2.2.4.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.~/user/js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*@
    <script src="~/user/js/vendor/bootstrap.min.js"></script>

    <script src="~/js/environment.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145253684-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-145253684-1');
    </script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/833cd37dac03f126ef6467619/5a3e969800cfe330fba27ce51.js");</script>
</head>