﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
@Html.Partial("~/Views/Layout/User/Head.cshtml")
<body>

    
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v3.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="958586334316355"
         logged_in_greeting="TLE Coffee Shop xin chào <3"
         logged_out_greeting="TLE Coffee Shop xin chào <3">
    </div>

    @Html.Partial("~/Views/Layout/User/Header.cshtml")<!-- #header -->

    @RenderBody()
    <!-- start footer Area -->
    @Html.Partial("~/Views/Layout/User/Footer.cshtml")

    <!-- Your customer chat code -->
    <!-- End footer Area -->
    @Html.Partial("~/Views/Layout/User/JS.cshtml")
    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: 'd185ea1c-4db3-4740-ae1e-9dfad099b2ea', f: true }); done = true; } }; })();</script>
</body>

</html>







