﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/User/Layout.cshtml";
}

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">MENU</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<section class="menu-area section-gap">
    <div class="container">
        <div class="row">
            <!--Left side menu-->
            <div class="col-lg-9">
                <div class="container">
                    <!--Filter select box-->
                    <div class="row">

                        <div class="default-select" id="default-select">
                            <select id="sort_product">
                                <option disabled>--Sắp xếp theo--</option>
                                <option selected value="0">Tất cả</option>
                                <option value="1">Giá tăng dần</option>
                                <option value="2">Sản phẩm mới</option>
                                <option value="3">Đang khuyến mãi</option>
                            </select>
                        </div>
                        <div id="imaginary_container">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control" placeholder="Search" id="search_input">
                                <span class="input-group-addon">
                                    <button type="submit" id="search_button" data-pressed="0"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end Filter select box-->
                    <!--Menu area-->
                    <div class="row" style="font-size: 18px; display: none" id="alert_search">
                        <p>Tìm thấy <span id="quantity"></span> sản phẩm với từ khóa <span id="keyword" style="font-weight: bold;"></span></p>
                    </div>
                    <div class="row" id="menu_area">
                        <div id="LoadingMenu">
                            <svg id="LoadingImg" width="80px" height="80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-coffee" style="background: none;">
                                <defs><linearGradient id="gradient" x1="0%" x2="0%" y1="0%" y2="100%"><stop offset="10%" stop-color="black" stop-opacity="0"></stop><stop offset="100%" stop-color="white" stop-opacity="1"></stop></linearGradient><mask id="mask" maskUnits="userSpaceOnUse" x="0" y="0" width="100" height="100"><rect x="22" y="8" width="56" height="54" fill="url(#gradient)"></rect></mask><path id="steam" d="M0-4c-2.1,2.6-2.1,6.4,0,9l0,0c2.1,2.6,2.1,6.4,0,9l0,0c-2.1,2.6-2.1,6.4,0,9l0,0c2.1,2.6,2.1,6.4,0,9l0,0 c-2.1,2.6-2.1,6.4,0,9l0,0c2.1,2.6,2.1,6.4,0,9c-2.1,2.6-2.1,6.4,0,9l0,0c2.1,2.6,2.1,6.4,0,9l0,0c-2.1,2.6-2.1,6.4,0,9l0,0 c2.1,2.6,2.1,6.4,0,9l0,0c-2.1,2.6-2.1,6.4,0,9l0,0c2.1,2.6,2.1,6.4,0,9c-2.1,2.6-2.1,6.4,0,9l0,0c2.1,2.6,2.1,6.4,0,9l0,0 c-2.1,2.6-2.1,6.4,0,9h0c2.1,2.6,2.1,6.4,0,9h0c-2.1,2.6-2.1,6.4,0,9h0c2.1,2.6,2.1,6.4,0,9" stroke-width="6" stroke-linecap="round" fill="#f00" stroke="#be9c79"></path></defs>
                                <g mask="url(#mask)"><use x="29" y="1.27041" href="#steam"><animate attributeName="y" calcMode="linear" values="4;-14" keyTimes="0;1" dur="0.5" begin="0s" repeatCount="indefinite"></animate></use><use x="47" y="-5.45918" href="#steam"><animate attributeName="y" calcMode="linear" values="0;-18" keyTimes="0;1" dur="0.25" begin="0s" repeatCount="indefinite"></animate></use><use x="64" y="-8.09439" href="#steam"><animate attributeName="y" calcMode="linear" values="-4;-22" keyTimes="0;1" dur="0.3333333333333333" begin="0s" repeatCount="indefinite"></animate></use></g>
                                <path d="M81.2,52.5l-5.2,0V49c0-1.6-1.3-3-3-3H20c-1.6,0-3,1.3-3,3v11.6C17,71.3,25.7,80,36.5,80h20.1 c7.1,0,13.3-3.8,16.7-9.5h8.3c5.2,0,9.3-4.4,9-9.6C90.2,56.1,86,52.5,81.2,52.5z M81.5,67.5h-6.8c0.8-2.2,1.3-4.5,1.3-7v-5h5.5 c3.3,0,6,2.7,6,6S84.8,67.5,81.5,67.5z" fill="#be9c79"></path>
                                <path d="M78.8,88H19.2c-1.1,0-2-0.9-2-2s0.9-2,2-2h59.5c1.1,0,2,0.9,2,2S79.9,88,78.8,88z" fill="#be9c79"></path>
                            </svg>
                        </div>
                        @foreach (var product in ViewBag.ListProduct)
                        {

                            <div class="col-lg-4">

                                <div class="menu-image">
                                    <a asp-action="Index" asp-controller="SingleProduct" asp-route-id="@product.MaThucDon" asp-route-name="@FriendlyUrlHelper.GetFriendlyTitle(product.TenThucDon)" asp-route-category="@FriendlyUrlHelper.GetFriendlyTitle(product.TenLoai)"><img src="~/uploads/product/@product.HinhAnh" alt="" width="200" height="200"></a>
                                </div>
                                <div class="single-menu">
                                    <div class="title-div justify-content-between d-flex">
                                        <h4>@product.TenThucDon</h4>
                                    </div>
                                    <p class="price">
                                        $@if (product.KhuyenMai == 0)
                                        {
                                            @string.Format("{0:N2}", product.Gia)
                                        }
                                        else
                                        {
                                            @string.Format("{0:N2}", product.GetGiaKhuyenMai)
                                            <del style="font-size:15px; color: gray; padding-left: 5px">$@string.Format("{0:N2}", product.Gia)</del>
                                        }

                                    </p>
                                    <div class="order-button">
                                        <button class="btn btn-primary" data-id="@product.MaThucDon">Mua hàng</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!--end Menu area-->

                </div>
                <!--Pagination area-->
                <div class="row align-items-center justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center" id="menu_pagination"></ul>
                    </nav>
                </div>
                <!--end Pagination area-->
            </div>

            <!--end Left side menu-->
            <!--right side menu-->
            @{
                Html.RenderPartial("RightSide");
            }
            <!--end right side menu-->
        </div>
    </div>
</section>

<script src="~/user/js/menu-pagination.js"></script>

