﻿<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <meta name="google-site-verification" content="p3OG7p81tL3_qim3Vz9wuPwLYtyt7R9wl9rRbcGN7qE" />
    <!-- Title Page-->
    <title>TLE Café</title>

    <!-- Fontfaces CSS-->
    <link href="~/admin/css/font-face.css" rel="stylesheet" media="all" />
    <link href="~/admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all" />

    <!-- Bootstrap CSS-->
    <link href="~/admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!--<link href="~/dist/bootstrap-tagsinput.css" rel="stylesheet" />-->

    <link href="~/admin/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/admin/css/jquery.tagsinput-revisited.css" rel="stylesheet" />
    <!-- Vendor CSS-->
    <link href="~/admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all" />

    <!-- Main CSS-->
    <link href="~/admin/css/theme.css" rel="stylesheet" media="all">
    <link href="~/admin/css/custom.css" rel="stylesheet" media="all">
    <link href="~/admin/css/product.css" rel="stylesheet" media="all">
    <link href="~/admin/css/dataTables.min.css" rel="stylesheet" media="all">

    <!-- Jquery JS-->
    <script src="~/admin/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="~/admin/js/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/dataTables.min.js"></script>
    

</head>