﻿
<!--<script src="~/admin/js/jquery-ui.min.js"></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="~/admin/js/jquery.twbsPagination.js"></script>
<!-- Bootstrap JS-->
<script src="~/admin/vendor/bootstrap-4.1/popper.min.js"></script>
<!-- Vendor JS       -->
<script src="~/admin/vendor/slick/slick.min.js">
</script>
<script src="~/admin/vendor/wow/wow.min.js"></script>
<script src="~/admin/vendor/animsition/animsition.min.js"></script>
<script src="~/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="~/admin/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="~/admin/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="~/admin/vendor/circle-progress/circle-progress.min.js"></script>
<script src="~/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/admin/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="~/admin/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="~/js/jquery.timeago.js"></script>
<script src="~/admin/js/sweetalert.min.js"></script>
<script src="~/admin/js/main.js"></script>
<script src="~/lib/dist/browser/signalr.js"></script>
<script src="~/js/jquery.amsify.suggestags.js"></script>
<script src="~/js/assets/app.js"></script>
<script src="~/js/typeahead.bundle.js"></script>
<script src="~/admin/js/jquery.tagsinput-revisited.js"></script>
<script src="~/js/environment.js"></script>

<script src="~/admin/js/ajax_pagination.js"></script>

